<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twormobile.itrackmygps"
          android:versionCode="6"
          android:versionName="1.0.6">

    <uses-sdk android:minSdkVersion="14"/>

    <permission android:name="com.twormobile.itrackmygps.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.twormobile.itrackmygps.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-feature android:required="true" android:name="android.hardware.location.gps"/>

    <application android:label="@string/app_name"
                 android:name="com.twormobile.itrackmygps.GpsLoggerApplication"
                 android:icon="@drawable/ic_launcher">

        <service android:name="com.twormobile.itrackmygps.GpsLoggerService"/>

        <activity android:name="com.twormobile.itrackmygps.StartupActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.twormobile.itrackmygps.MainActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTop" />

        <activity android:name="com.twormobile.itrackmygps.SettingsActivity"/>

        <activity android:name="com.twormobile.itrackmygps.RegisterActivity"/>

        <activity android:name="com.twormobile.itrackmygps.LoginActivity"/>

        <activity android:name="com.twormobile.itrackmygps.ShareActivity"/>

        <receiver android:name="com.twormobile.itrackmygps.LocationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.twormobile.itrackmygps.ACTION_LOCATION"/>
            </intent-filter>
        </receiver>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/google_maps_key"/>

    </application>

</manifest>
